* {
    font-family: 'Open Sans', sans-serif;

}

.priceHome {
    float: right;
    font-size: 16px !important;
}

.badgeHome {
    float: right;
    font-size: 14px !important;
}

.jumbotron {
    background-image: url("/img/hero.jpg");
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    color: white;
}

.titleHome {
    text-transform: uppercase;
    font-weight: bold;
}

.descriptionHome {
    font-size: 18px;
    text-transform: capitalize;
}

.btnHome {
    font-weight: bold !important;
    text-transform: uppercase !important;
}

.catFooter small {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.orderCol {
    padding: 10px;
    border: 1px solid #eee;
    background-color: #f9f9f9;
}

@media (min-width: 576px) {
    .card-deck .card {
        max-width: 47%;
    }
}

.madeBy span {
    font-style: italic;
}
